/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color: #0a0f24;
}

.hero-content h1 {
    font-size: 3rem;
    color: #36c737;
}

.hero-content p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.social-links a {
    margin-right: 10px;
    color: #36c737;
    text-decoration: none;
}

.contact-btn {
    background-color: #36c737;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #1aff73;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    /* Ensures the image is responsive and doesn't exceed the container width */
}
